.font__2xl{
    font-size: $font-size-2xl;
    line-height:1.5;
}
.font__xl{
    font-size: $font-size-xl;
    line-height:1.5;

}
.font__lg{
    font-size: $font-size-lg;
    line-height:1.5;

}
.font__l{
    font-size: $font-size-l;
    line-height:1.5;

}
.font__normal{
    font-size: $font-size-base;
    line-height:1.5;

}
.font__md{
    font-size: $font-size-md;
    line-height:1.5;

}
.font__sm{
    font-size: $font-size-sm;
    line-height:1.5;
}
