.nav__logo{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/b14c36c49306e988a18b8aa95c9dd0892e490e27/week8/logo-aloha.svg) no-repeat center /cover;
    width:96px;
    height:24px;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
.footerbar{
    position: relative;
    display: flex;
    padding: 24px 85px;
    flex-direction: column;
    
    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; // allow us to do the line break for collapsing content
        align-items: center;
        padding: 24px 85px;
      }
      
        .footer__item{       
            display: flex;
            align-items: center;    
 
            .footer__link{
                display: block;
                display: flex;
                align-items: center;    
                color: $gray;
                text-decoration: none;
                @include hover-focus() {
                    color: $primary;
                    text-decoration: none;
                  }
            }
        }
}

