.nav__logo{
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/b14c36c49306e988a18b8aa95c9dd0892e490e27/week8/logo-aloha.svg) no-repeat center /cover;
    width:96px;
    height:24px;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
.topchoice__item{
    display: block;
    font-family: 'Raleway', sans-serif;
    color:$gray;
    padding:0 24px;
    text-decoration: none;
    &.active{
        color:$primary;
        border-bottom: 2px solid $primary;
    }
    &:hover,:focus{
        color:$primary;
        border-bottom: 2px solid $primary;
        text-decoration: none;
    }
}

.price__block{
    width:100%;
}
.recommended__size{
    object-fit: cover;
    width:150px;
    height:150px;

    @include media-breakpoint-up(lg) {
        width:255px;
        height:175px;
    }
}

.recommended__list{
    width:calc(100% - 150px);

    @include media-breakpoint-up(lg) {
        width:calc(100% - 255px);
    }

}

.detail__photo{
    width:100%;
    height:247px;
    object-fit:cover;
    &--lg{
        border-radius: $border-radius;
        @include media-breakpoint-up(md) {
            height:268px;
        }
        @include media-breakpoint-up(lg) {
            height:434px;
        }
    }
    &--md{
        border-radius: $border-radius;

        @include media-breakpoint-up(md) {
            height:132px;
        }
        @include media-breakpoint-up(lg) {
            height:213px;
        }

    }
    &--sm{
        border-radius: $border-radius;

        @include media-breakpoint-up(md) {
            height:93px;
        }
        @include media-breakpoint-up(lg) {
            height:151px;
        }
    }

}

.login__bg{
    position: relative;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week8/login.jpg?raw=true);
    background-position: center center;
    background-size: cover;
    width:100%;
    height:100vh;
    @include media-breakpoint-up(md) {
        background-position: bottom;
    }
    @include media-breakpoint-up(md) {
        background-position: center center;

    }

}
.location__tag{
    position: absolute;
    bottom:24px;
    display:flex;
    align-items: center;
    background: #121212;
    width:181px;
}

.login__container{
    max-width:360px;
    margin:0 auto;
    padding-left:15px;
    padding-right: 15px;

}

.memberCheckout__size{
    object-fit: cover;
    width:100%;
    height:226px;
    @include media-breakpoint-up(md) {
        width:271px;
        height:186px;
    }
    @include media-breakpoint-up(lg) {
        width:255px;
        height:175px;
    }
}

.profile__photo{
    width:24px;
    height:24px;
    object-fit:cover;
    border:2px solid $primary;
}

.personal__photo{
    width:64px;
    height:64px;
    object-fit:cover;
    border-radius: 8px;
}
.visa__icon{
    width:18px;
    height:14px;
    object-fit: cover;
}