  .result__items{
        font-family: 'Open Sans', sans-serif;
        width:100%;
        box-sizing: border-box;
        display: block;
        @include font-size($input-font-size);
            font-weight: $input-font-weight;
            line-height: $input-line-height;
            color: $input-color;
            background-color: $input-bg;
            background-clip: padding-box;
            border: 0;
            border-radius:4px;
        @include media-breakpoint-up(md) {
            width:180px;
            padding: 10px 0px 10px 8px;
            box-sizing: border-box;

        }
        @include media-breakpoint-up(lg) {
            width:312px;
            padding: 10px 16px;
            box-sizing: border-box;

        }
    }
